#stepwise-dialog {
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 1000;
}

#stepwise-dialog-wrapper {
  position: absolute;
  right: 0;
  font-family: "lucida grande", helvetica, arial, sans-serif;
  text-align: left;
  color: #3B3B3B;
  background-color: #F6F6F2;
  width: 300px;
  font-size: 14px;
  z-index: 10001;
  border-radius: 10px;
  opacity:.9;
  padding: 10px;
}

#stepwise-dialog #stepwise-dialog-label {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

#stepwise-dialog .label {
  font-weight: bold;
  padding-right: 5px;
}

#stepwise-dialog #stepwise-dialog-links {
  padding-top: 15px;
}

#stepwise-dialog #stepwise-dialog-links a {
  padding-right: 10px;
}
